<div class="footer ">
  <h2>
    <%=title%>
  </h2>
  <div class="footerLinks">
    
    <a href="#" class="colored">Ana Sayfa</a>
  </br>
    <a href="#about">Hakkımızda</a>
  </br>
    <a href="/discord" target="_blank">Discord</a>
  </div>
  <p class="copyright">
    &copy; Tüm Hakları Saklıdır. <span>© <%=title%> - <%=sayfa%></span>
  </p>
</div>

<style>
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 150px; /* değişebilir */
    width: 100%;
    overflow:hidden;
}

</style>