<head>
    <%- include("../partials/header.ejs") %>

    <script src="https://kit.fontawesome.com/899fa9cf4c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
    
</br>

</br></br>
</br></br></br></br>
</br>
<h1 class="text-center">Türkiye'nin en kaliteli uptime hizmeti!</h1>
</br>
</br>
<h2 style="font-size:22px; color: aqua;" class="text-center">Yüksek performans, yüksek uptime: <%=title%></h2>

<%- include("../partials/footer.ejs") %>
